# Project Notebook

### Importing Libraries

In [893]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from openpyxl import load_workbook

## 1. Import Datasets

In [894]:
# main data set
data_main = pd.read_csv('data/cancer_reg.csv', encoding = "ISO-8859-1")

# import data of manufactoring share
wb = load_workbook('data/industry_county_data_overview.xlsx', data_only=True)
ws = wb['new_overview']
ws_data = ws.values
# Get the first line in file as a header line
columns = next(ws_data)[0:]
# Create a DataFrame based on the second and subsequent lines of data
data_industry = pd.DataFrame(ws_data, columns=columns)

# import data of UV exposure
data_uv = pd.read_csv('data/uv-county.csv', encoding = "ISO-8859-1")

# import data with rural/urban classification
data_county_class = pd.read_excel('data/PctUrbanRural_County.xls', sheet_name='Pct urban by county')

In [895]:
data_industry = data_industry[['county_state', 'Industry Share of County GDP (Manufacturing)', 'Industry Share of County GDP (Mining, Oil, Gas)']]
data_industry

,county_state,Industry Share of County GDP (Manufacturing),"Industry Share of County GDP (Mining, Oil, Gas)"
0,Autauga_AL,0.15095,0.019244
1,Baldwin_AL,0.068274,0.002761
2,Barbour_AL,0.261618,0.088787
3,Bibb_AL,0.119731,0.030386
4,Blount_AL,0.12457,0.004438
...,...,...,...
3112,Sweetwater_WY,0.110247,0.433276
3113,Teton_WY,0.009897,0.003029
3114,Uinta_WY,0.041912,0.102798
3115,Washakie_WY,0.153798,0.048576
3116,Weston_WY,0,0.133874

## 2. Data Cleaning
## 2.1 Harmonize county names

### Lower case for all column names

In [896]:
data_main.columns=[item.lower() for item in data_main.columns]
data_industry.columns=[item.lower() for item in data_industry.columns]
data_uv.columns=[item.lower() for item in data_uv.columns]
data_county_class.columns=[item.lower() for item in data_county_class]

In [897]:
#data_main.geography.to_csv('county_check.csv')

In [898]:
# Extract county name from Geography
# data_main['county'] = data_main.geography.str.split(' County', expand=True)[0]
def get_countyname(item):
    if ' County' in item:
        return item[:item.find(' County')]
    elif ' Parish' in item:
        return item[:item.find(' Parish')]
    #elif ' city' in item:
    #    return item[:item.find(' city')]
    else:
        return item[:item.find(',')]

data_main['county'] =  data_main.geography.apply(get_countyname)
# Extract state name from Geography
data_main['state'] = data_main.geography.str.split(', ').str[1]

In [899]:
data_main.state

0       Washington
1       Washington
2       Washington
3       Washington
4       Washington
           ...
3042        Kansas
3043        Kansas
3044        Kansas
3045        Kansas
3046        Kansas
Name: state, Length: 3047, dtype: object

In [900]:
# read state abbreviation lookup table
wb2 = load_workbook('data/state_abbreviations.xlsx')
ws2 = wb2['Sheet1']
ws_data2 = ws2.values
# Get the first line in file as a header line
columns2 = next(ws_data2)[0:]
# Create a DataFrame based on the second and subsequent lines of data
state_abb = pd.DataFrame(ws_data2, columns=columns2)

In [901]:
state_abb.head()

            state state_short
0         ALABAMA          AL
1          ALASKA          AK
2  AMERICAN SAMOA          AS
3         ARIZONA          AZ
4        ARKANSAS          AR

In [902]:
# capitalize state names in lookup table
state_abb.state = state_abb.state.str.title()
# Correct this for DC
state_abb.state = state_abb.state.str.replace('District Of Columbia','District of Columbia')

### Merge main table with lookup table

In [903]:
# merge
data_main = pd.merge(data_main, state_abb, how='left', on='state')

In [904]:
print(sorted(data_main.state.unique()))
print(sorted(state_abb.state.unique()))

['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']
['Alabama', 'Alaska', 'American Samoa', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida', 'Georgia', 'Guam', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Northern Mariana Is', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virgin Islands', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']

### Create new column which consists of county and state name

In [905]:
# New combined column
data_main['county_state'] = data_main['county'].map(str) + '_' + data_main['state_short'].map(str)
data_main.county_state

0          Kitsap_WA
1        Kittitas_WA
2       Klickitat_WA
3           Lewis_WA
4         Lincoln_WA
            ...
3042    Ellsworth_KS
3043       Finney_KS
3044         Ford_KS
3045     Franklin_KS
3046        Geary_KS
Name: county_state, Length: 3047, dtype: object

In [906]:
# check for duplicates
data_main.geography[data_main.county_state.duplicated(keep=False) == True]

Series([], Name: geography, dtype: object)

### Harmonize data_industry table

In [907]:
data_industry.head()

,county_state,industry share of county gdp (manufacturing),"industry share of county gdp (mining, oil, gas)"
0,Autauga_AL,0.15095,0.019244
1,Baldwin_AL,0.068274,0.002761
2,Barbour_AL,0.261618,0.088787
3,Bibb_AL,0.119731,0.030386
4,Blount_AL,0.12457,0.004438

In [908]:
# kick out asterisks and (independent city from county)
data_industry.county_state = data_industry.county_state.str.replace(', ','_', regex=False)
data_industry.county_state = data_industry.county_state.str.replace('*','', regex=False)
data_industry.county_state = data_industry.county_state.str.replace('(Independent City)','city', regex=False)
data_industry.county_state = data_industry.county_state.str.replace('(city)','city', regex=False)
# rename columns
data_industry.rename(columns={"industry share of county gdp (manufacturing)": "industry_share_manufacturing", "industry share of county gdp (mining, oil, gas)": "industry_share_mineoilgas"}, inplace=True)

### Harmonize data_uv table

In [909]:
data_uv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3108 entries, 0 to 3107
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   statename    3108 non-null   object
 1   state_abr    3108 non-null   object
 2   county_fips  3108 non-null   int64
 3   county name  3108 non-null   object
 4   uv_ wh/m_    3108 non-null   int64
dtypes: int64(2), object(3)
memory usage: 121.5+ KB

In [910]:
# Create new Column county_state
data_uv['county_state'] = data_uv['county name'].map(str) + '_' + data_uv['state_abr'].map(str)
data_uv['county_state']

0          Autauga_AL
1          Baldwin_AL
2          Barbour_AL
3             Bibb_AL
4           Blount_AL
            ...
3103    Sweetwater_WY
3104         Teton_WY
3105         Uinta_WY
3106      Washakie_WY
3107        Weston_WY
Name: county_state, Length: 3108, dtype: object

In [911]:
# Rename column
data_uv.rename(columns={"uv_ wh/m_": "UV"}, inplace=True)

# dropping unnessessary columns
data_uv = data_uv[['county_state','UV']]
data_uv.head()

  county_state    UV
0   Autauga_AL  4563
1   Baldwin_AL  4492
2   Barbour_AL  4642
3      Bibb_AL  4499
4    Blount_AL  4416

### Harmonize data_county_class table

In [912]:
data_county_class

,state,county,statename,countyname,pop_cou,area_cou,pop_urban,poppct_urban,area_urban,areapct_urban,...,pop_uc,poppct_uc,area_uc,areapct_uc,popden_uc,pop_rural,poppct_rural,area_rural,areapct_rural,popden_rural
0,1,1,Alabama,Autauga,54571,1539582278,31650,58.00,50882539,3.30,...,0,0.00,0,0.00,NaN,22921,42.00,1488699739,96.70,39.9
1,1,3,Alabama,Baldwin,182265,4117521611,105205,57.72,275001368,6.68,...,41556,22.80,111381848,2.71,966.3,77060,42.28,3842520243,93.32,51.9
2,1,5,Alabama,Barbour,27457,2291818968,8844,32.21,17447656,0.76,...,8844,32.21,17447656,0.76,1312.8,18613,67.79,2274371312,99.24,21.2
3,1,7,Alabama,Bibb,22915,1612480789,7252,31.65,18903236,1.17,...,7252,31.65,18903236,1.17,993.6,15663,68.35,1593577553,98.83,25.5
4,1,9,Alabama,Blount,57322,1669961855,5760,10.05,10874700,0.65,...,5374,9.38,9851721,0.59,1412.8,51562,89.95,1659087155,99.35,80.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,72,145,Puerto Rico,Vega Baja,59662,118766810,57170,95.82,72771265,61.27,...,0,0.00,0,0.00,NaN,2492,4.18,45995545,38.73,140.3
3217,72,147,Puerto Rico,Vieques,9301,131488427,8230,88.49,13439063,10.22,...,8230,88.49,13439063,10.22,1586.1,1071,11.51,118049364,89.78,23.5
3218,72,149,Puerto Rico,Villalba,26073,92298550,22564,86.54,39316802,42.60,...,0,0.00,0,0.00,NaN,3509,13.46,52981748,57.40,171.5
3219,72,151,Puerto Rico,Yabucoa,37941,143005172,32192,84.85,62090343,43.42,...,0,0.00,0,0.00,NaN,5749,15.15,80914829,56.58,184.0
3220,72,153,Puerto Rico,Yauco,42043,176615594,34303,81.59,41533284,23.52,...,0,0.00,0,0.00,NaN,7740,18.41,135082310,76.48,148.4

In [913]:
# drop state column which contains a number
data_county_class.drop('state', axis=1, inplace = True)
# rename the statename column
data_county_class.rename(columns={'statename': 'state'}, inplace=True)

In [914]:
# merge with abbreviation table
data_county_class = pd.merge(data_county_class, state_abb, how='left', on='state')

In [915]:
# Create new Column county_state
data_county_class['county_state'] = data_county_class['countyname'].map(str) + '_' + data_county_class['state_short'].map(str)
data_county_class['county_state']

0         Autauga_AL
1         Baldwin_AL
2         Barbour_AL
3            Bibb_AL
4          Blount_AL
            ...
3216    Vega Baja_PR
3217      Vieques_PR
3218     Villalba_PR
3219      Yabucoa_PR
3220        Yauco_PR
Name: county_state, Length: 3221, dtype: object

In [916]:
# Drop unnessessary columns
data_county_class = data_county_class[['county_state','poppct_urban', 'poppct_rural']]
data_county_class.head()

  county_state  poppct_urban  poppct_rural
0   Autauga_AL         58.00         42.00
1   Baldwin_AL         57.72         42.28
2   Barbour_AL         32.21         67.79
3      Bibb_AL         31.65         68.35
4    Blount_AL         10.05         89.95

In [917]:
# Look for duplicates
data_county_class[data_county_class.county_state.duplicated(keep=False)]

      county_state  poppct_urban  poppct_rural
1195  Baltimore_MD         93.47          6.53
1216  Baltimore_MD        100.00          0.00
1578  St. Louis_MO         98.86          1.14
1597  St. Louis_MO        100.00          0.00
2829    Bedford_VA         21.57         78.43
2848    Fairfax_VA         98.61          1.39
2852   Franklin_VA         10.77         89.23
2895   Richmond_VA          0.00        100.00
2896    Roanoke_VA         81.46         18.54
2916    Bedford_VA         97.94          2.06
2925    Fairfax_VA        100.00          0.00
2927   Franklin_VA         96.75          3.25
2945   Richmond_VA        100.00          0.00
2946    Roanoke_VA         99.99          0.01

In [918]:
# Manually change the counties that are actually cities
data_county_class.iloc[1216, data_county_class.columns.get_loc('county_state')] = 'Baltimore city_MD'
data_county_class.iloc[1578, data_county_class.columns.get_loc('county_state')] = 'St. Louis city_MO'
data_county_class.iloc[2916, data_county_class.columns.get_loc('county_state')] = 'Bedford city_VA'
data_county_class.iloc[2925, data_county_class.columns.get_loc('county_state')] = 'Fairfax city_VA'
data_county_class.iloc[2927, data_county_class.columns.get_loc('county_state')] = 'Franklin city_VA'
data_county_class.iloc[2945, data_county_class.columns.get_loc('county_state')] = 'Richmond city_VA'
data_county_class.iloc[2946, data_county_class.columns.get_loc('county_state')] = 'Roanoke city_VA'

## 2.2 Data Joining

### Join data_main with data_industry

In [919]:
data_main = pd.merge(data_main, data_industry, how='left', on='county_state')

In [920]:
data_main[(data_main.industry_share_manufacturing.isna() == True)].count

<bound method DataFrame.count of       avganncount  avgdeathsperyear  target_deathrate  incidencerate  \
127   1962.667684               145             193.5     453.549422
216    309.000000               120             153.3     396.200000
225    346.000000               156             176.8     399.000000
228    155.000000                59             172.1     437.000000
229   1142.000000               407             150.1     373.700000
233    493.000000               204             155.9     400.500000
234    115.000000                58             159.2     338.000000
235    378.000000               157             156.1     400.200000
240     97.000000                43             181.8     405.700000
241    518.000000               191             172.5     449.400000
247    312.000000               136             176.7     420.800000
249    176.000000               106             223.4     367.300000
251    272.000000               103             152.3     389.300000
253     64.000000                58             226.6     265.700000
254     46.000000                19             240.8     578.200000
255    250.000000                60             178.2     718.900000
257    117.000000                43             159.3     493.600000
258    320.000000               130             207.4     539.000000
259     55.000000                16             137.6     447.700000
260     51.000000                25             221.7     468.000000
261    120.000000                39             180.3     566.300000
263    190.000000                51             150.5     591.100000
264    139.000000                65             244.9     547.600000
265    391.000000               165             194.5     495.000000
266    108.000000                41             155.2     364.100000
269     22.000000                 9             197.3     461.000000
270    249.000000                88             224.4     651.300000
271     67.000000                24             159.2     441.300000
273     51.000000                21             193.1     463.100000
276    162.000000                63             186.6     511.500000
277    181.000000                64             176.1     537.900000
280    157.000000                58             210.5     596.900000
281    135.000000                23             162.1    1014.200000
282    117.000000                59             192.8     401.900000
955    425.000000               174             143.8     372.900000
956     98.000000                50             189.5     401.800000
961    391.000000               163             167.1     408.900000
968    267.000000               115             160.1     384.700000
970    168.000000                78             172.5     390.600000
979    138.000000                60             185.4     414.500000
981   3959.000000              1229             126.9     381.800000
986    389.000000               157             185.3     456.600000
992     69.000000                24             174.7     492.200000
2203   142.000000                59             167.5     405.300000
2315   734.000000               247             139.9     418.300000
2335    53.000000                20             140.9     383.500000

      medincome  popest2015  povertypercent  studypercap           binnedinc  \
127       45639       54521            19.3    36.683113    (45201, 48021.6]
216       43484       97653            24.8   256.008520    (42724.4, 45201]
225       44207       62194            14.6     0.000000    (42724.4, 45201]
228       61792       37862            10.5     0.000000   (61494.5, 125635]
229       91886      451721             7.2    19.923803   (61494.5, 125635]
233       61935       94409             8.2    21.184421   (61494.5, 125635]
234       48497       22354            13.0     0.000000  (48021.6, 51046.4]
235       55798       78593            11.7     0.000000  (54545.6, 61494.5]
240       46521       18109            15.3     0.000000    (45201, 48021.6]
241       75714      130475             9.2   176.278981   (61494.5, 125635]
247       43353       54591            14.5    36.636076    (42724.4, 45201]
249       38528       39718            21.9     0.000000  (37413.8, 40362.7]
251       81169       67837             5.5     0.000000   (61494.5, 125635]
253       34099       17141            21.8   408.377574    [22640, 34218.1]
254       38331        6618            17.2     0.000000  (37413.8, 40362.7]
255       45890       46597            25.9   364.830354    (45201, 48021.6]
257       52355       17820            11.5     0.000000  (51046.4, 54545.6]
258       33646       42082            23.6   356.446937    [22640, 34218.1]
259      125635       13892             3.2     0.000000   (61494.5, 125635]
260       38583        8490            22.5     0.000000  (37413.8, 40362.7]
261       51195       28118            16.8  1280.318657  (51046.4, 54545.6]
263       38541       52538            28.3    57.101527  (37413.8, 40362.7]
264       40122       22378            19.5     0.000000  (37413.8, 40362.7]
265       40065       79812            25.0   388.412770  (37413.8, 40362.7]
266       72510       41764             9.8     0.000000   (61494.5, 125635]
269       31620        3939            21.6  3046.458492    [22640, 34218.1]
270       32749       32477            25.8     0.000000    [22640, 34218.1]
271       84213       12059             5.9     0.000000   (61494.5, 125635]
273       34267       17403            32.4     0.000000  (34218.1, 37413.8]
276       54195       25432            10.2   432.525952  (51046.4, 54545.6]
277       42552       24416            16.5     0.000000  (40362.7, 42724.4]
280       44843       21491            14.6     0.000000    (42724.4, 45201]
281       46954       15052            20.1     0.000000    (45201, 48021.6]
282       44537       27284            13.4  1026.242486    (42724.4, 45201]
955       67083      105703             9.1   113.525633   (61494.5, 125635]
956       45454       15677            15.8   255.150858    (45201, 48021.6]
961       57808       74314             9.8    26.912829  (54545.6, 61494.5]
968       46663       55086            14.5     0.000000    (45201, 48021.6]
970       38474       29724            17.0     0.000000  (37413.8, 40362.7]
979       52288       27852            12.1     0.000000  (51046.4, 54545.6]
981      110507     1142234             6.7   153.208537   (61494.5, 125635]
986       65485       83199             7.7     0.000000   (61494.5, 125635]
992       36459       11885            25.1     0.000000  (34218.1, 37413.8]
2203      52003       38809            10.9     0.000000  (51046.4, 54545.6]
2315      64916      164637            13.1   103.257469   (61494.5, 125635]
2335      45578       12819            15.1     0.000000    (45201, 48021.6]

      medianage  ...   pctasian  pctotherrace pctmarriedhouseholds  birthrate  \
127        42.6  ...   2.988143      7.250101            42.937853   4.262413
216        27.5  ...   6.119191      0.910156            43.444416   3.135414
225       546.0  ...   0.342389      1.576584            51.591360   4.194566
228        37.1  ...   2.094703      2.070626            61.871735   4.855936
229        34.0  ...   7.773898      4.591889            60.213167   6.857756
233        43.5  ...   2.851559      0.145248            53.388010   5.404492
234        48.3  ...   0.699519      0.770807            53.653826   6.476147
235        41.5  ...   0.723790      1.400013            58.197468   4.834403
240        45.4  ...   0.103205      0.401955            52.514217   5.455508
241        36.7  ...   2.534243      3.814678            61.331527   6.051314
247        44.7  ...   0.555160      0.500374            52.008997   5.091597
249        39.8  ...   0.471256      0.180113            49.416546   3.651139
251        39.5  ...   5.253419      0.559643            64.849773   4.925163
253        41.8  ...   0.930153      1.289660            40.541591   3.868375
254        33.8  ...   7.095710      0.000000            45.926197  11.887694
255        29.8  ...   6.663118      0.310531            30.492339   2.753791
257        40.0  ...   3.499857      1.741365            42.696313   3.664122
258        41.8  ...   1.220259      1.703180            33.347702   3.236584
259        37.7  ...  11.429216      3.554253            53.271390   3.066181
260        38.0  ...   0.591226      0.744945            30.842745   4.927099
261        29.4  ...   2.474904      3.668553            34.216270   4.269052
263        23.5  ...   4.102125      1.181210            34.669998   2.564793
264        36.9  ...   1.463261      4.241663            30.507696   5.969290
265        28.7  ...   2.844239      0.749763            37.783932   5.960878
266        33.3  ...   5.242618      4.440027            56.913054   6.934168
269        39.3  ...   5.814824      1.472423            32.641615   3.938224
270        39.5  ...   1.319927      1.273231            27.009295   4.372409
271        43.8  ...   1.846485      0.389169            62.602327   4.361371
273        22.3  ...   1.934690      0.732837            31.130181   1.039130
276        40.5  ...   2.074310      0.596066            46.251867   4.609250
277        42.3  ...   1.082958      0.632414            40.521806   3.909799
280        38.5  ...   0.964539      2.245863            40.803898   7.446378
281        24.6  ...   5.889928      0.460892            36.337594   2.181467
282        37.0  ...   2.399882      2.723793            38.678356   6.642836
955        38.6  ...   4.440005      1.347131            52.904538   5.043114
956        47.2  ...   0.230300      0.379684            51.393600   8.070066
961        44.2  ...   0.580665      0.773770            59.296625   5.594451
968        42.4  ...   0.847088      0.667127            54.127851   4.696595
970        46.1  ...   0.190916      0.080386            53.307300   5.656260
979        42.4  ...   0.448239      0.761295            49.823926   5.697446
981        37.4  ...  18.366967      4.488439            58.256171   5.344659
986        40.1  ...   1.405213      0.858126            60.095060   5.175689
992        42.9  ...   0.170068      0.688776            47.705106   1.886792
2203       31.1  ...   0.257326      0.081399            67.855619   9.866569
2315       40.0  ...  27.458769      0.870927            50.799618   6.347296
2335       36.3  ...   0.084975      2.811896            69.265133   6.445533

                     county     state  state_short              county_state  \
127             Carson City    Nevada           NV            Carson City_NV
216              Montgomery  Virginia           VA             Montgomery_VA
225            Pittsylvania  Virginia           VA           Pittsylvania_VA
228           Prince George  Virginia           VA          Prince George_VA
229          Prince William  Virginia           VA         Prince William_VA
233                 Roanoke  Virginia           VA                Roanoke_VA
234              Rockbridge  Virginia           VA             Rockbridge_VA
235              Rockingham  Virginia           VA             Rockingham_VA
240             Southampton  Virginia           VA            Southampton_VA
241            Spotsylvania  Virginia           VA           Spotsylvania_VA
247              Washington  Virginia           VA             Washington_VA
249                    Wise  Virginia           VA                   Wise_VA
251                    York  Virginia           VA                   York_VA
253            Bristol city  Virginia           VA           Bristol city_VA
254        Buena Vista city  Virginia           VA       Buena Vista city_VA
255    Charlottesville city  Virginia           VA   Charlottesville city_VA
257   Colonial Heights city  Virginia           VA  Colonial Heights city_VA
258           Danville city  Virginia           VA          Danville city_VA
259       Falls Church city  Virginia           VA      Falls Church city_VA
260           Franklin city  Virginia           VA          Franklin city_VA
261     Fredericksburg city  Virginia           VA    Fredericksburg city_VA
263       Harrisonburg city  Virginia           VA      Harrisonburg city_VA
264           Hopewell city  Virginia           VA          Hopewell city_VA
265          Lynchburg city  Virginia           VA         Lynchburg city_VA
266           Manassas city  Virginia           VA          Manassas city_VA
269             Norton city  Virginia           VA            Norton city_VA
270         Petersburg city  Virginia           VA        Petersburg city_VA
271           Poquoson city  Virginia           VA          Poquoson city_VA
273            Radford city  Virginia           VA           Radford city_VA
276              Salem city  Virginia           VA             Salem city_VA
277           Staunton city  Virginia           VA          Staunton city_VA
280         Waynesboro city  Virginia           VA        Waynesboro city_VA
281       Williamsburg city  Virginia           VA      Williamsburg city_VA
282         Winchester city  Virginia           VA        Winchester city_VA
955               Albemarle  Virginia           VA              Albemarle_VA
956               Alleghany  Virginia           VA              Alleghany_VA
961                 Augusta  Virginia           VA                Augusta_VA
968                Campbell  Virginia           VA               Campbell_VA
970                 Carroll  Virginia           VA                Carroll_VA
979               Dinwiddie  Virginia           VA              Dinwiddie_VA
981                 Fairfax  Virginia           VA                Fairfax_VA
986               Frederick  Virginia           VA              Frederick_VA
992             Greensville  Virginia           VA            Greensville_VA
2203               LaGrange   Indiana           IN               LaGrange_IN
2315                   Maui    Hawaii           HI                   Maui_HI
2335                Fremont     Idaho           ID                Fremont_ID

      industry_share_manufacturing  industry_share_mineoilgas
127                            NaN                        NaN
216                            NaN                        NaN
225                            NaN                        NaN
228                            NaN                        NaN
229                            NaN                        NaN
233                            NaN                        NaN
234                            NaN                        NaN
235                            NaN                        NaN
240                            NaN                        NaN
241                            NaN                        NaN
247                            NaN                        NaN
249                            NaN                        NaN
251                            NaN                        NaN
253                            NaN                        NaN
254                            NaN                        NaN
255                            NaN                        NaN
257                            NaN                        NaN
258                            NaN                        NaN
259                            NaN                        NaN
260                            NaN                        NaN
261                            NaN                        NaN
263                            NaN                        NaN
264                            NaN                        NaN
265                            NaN                        NaN
266                            NaN                        NaN
269                            NaN                        NaN
270                            NaN                        NaN
271                            NaN                        NaN
273                            NaN                        NaN
276                            NaN                        NaN
277                            NaN                        NaN
280                            NaN                        NaN
281                            NaN                        NaN
282                            NaN                        NaN
955                            NaN                        NaN
956                            NaN                        NaN
961                            NaN                        NaN
968                            NaN                        NaN
970                            NaN                        NaN
979                            NaN                        NaN
981                            NaN                        NaN
986                            NaN                        NaN
992                            NaN                        NaN
2203                           NaN                        NaN
2315                           NaN                        NaN
2335                           NaN                        NaN

[46 rows x 40 columns]>

### Fill missing values for industry share with mean share of respective state

In [921]:
data_main['industry_share_manufacturing'] = data_main['industry_share_manufacturing'].fillna(data_main.groupby('state')['industry_share_manufacturing'].transform('mean'))
data_main['industry_share_mineoilgas'] = data_main['industry_share_mineoilgas'].fillna(data_main.groupby('state')['industry_share_mineoilgas'].transform('mean'))
data_main.industry_share_manufacturing.value_counts(dropna = False)

0.000000    295
0.142449     42
0.025427      1
0.152833      1
0.145394      1
           ...
0.017131      1
0.025018      1
0.014692      1
0.004929      1
0.027242      1
Name: industry_share_manufacturing, Length: 2712, dtype: int64

### Join data_main with data_uv

In [922]:
data_main = pd.merge(data_main, data_uv, how='left', on='county_state')
data_main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3053 entries, 0 to 3052
Data columns (total 41 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   avganncount                   3053 non-null   float64
 1   avgdeathsperyear              3053 non-null   int64
 2   target_deathrate              3053 non-null   float64
 3   incidencerate                 3053 non-null   float64
 4   medincome                     3053 non-null   int64
 5   popest2015                    3053 non-null   int64
 6   povertypercent                3053 non-null   float64
 7   studypercap                   3053 non-null   float64
 8   binnedinc                     3053 non-null   object
 9   medianage                     3053 non-null   float64
 10  medianagemale                 3053 non-null   float64
 11  medianagefemale               3053 non-null   float64
 12  geography                     3053 non-null   object
 13  avghouseholdsize              3053 non-null   float64
 14  percentmarried                3053 non-null   float64
 15  pctnohs18_24                  3053 non-null   float64
 16  pcths18_24                    3053 non-null   float64
 17  pctsomecol18_24               763 non-null    float64
 18  pctbachdeg18_24               3053 non-null   float64
 19  pcths25_over                  3053 non-null   float64
 20  pctbachdeg25_over             3053 non-null   float64
 21  pctemployed16_over            2901 non-null   float64
 22  pctunemployed16_over          3053 non-null   float64
 23  pctprivatecoverage            3053 non-null   float64
 24  pctprivatecoveragealone       2442 non-null   float64
 25  pctempprivcoverage            3053 non-null   float64
 26  pctpubliccoverage             3053 non-null   float64
 27  pctpubliccoveragealone        3053 non-null   float64
 28  pctwhite                      3053 non-null   float64
 29  pctblack                      3053 non-null   float64
 30  pctasian                      3053 non-null   float64
 31  pctotherrace                  3053 non-null   float64
 32  pctmarriedhouseholds          3053 non-null   float64
 33  birthrate                     3053 non-null   float64
 34  county                        3053 non-null   object
 35  state                         3053 non-null   object
 36  state_short                   3053 non-null   object
 37  county_state                  3053 non-null   object
 38  industry_share_manufacturing  3053 non-null   float64
 39  industry_share_mineoilgas     3053 non-null   float64
 40  UV                            2994 non-null   float64
dtypes: float64(32), int64(3), object(6)
memory usage: 1001.8+ KB

In [923]:
data_main[(data_main['UV'].isna() == True)].count

<bound method DataFrame.count of       avganncount  avgdeathsperyear  target_deathrate  incidencerate  \
166         799.0               319             150.8          381.0
254         405.0               165             135.4          317.6
255          64.0                58             226.6          265.7
256          46.0                19             240.8          578.2
257         250.0                60             178.2          718.9
258         995.0               378             182.2          458.3
259         117.0                43             159.3          493.6
260         320.0               130             207.4          539.0
261          55.0                16             137.6          447.7
262          51.0                25             221.7          468.0
263         120.0                39             180.3          566.3
264         709.0               270             190.3          491.9
265         190.0                51             150.5          591.1
266         139.0                65             244.9          547.6
267         391.0               165             194.5          495.0
268         108.0                41             155.2          364.1
269         773.0               321             191.9          457.2
270         985.0               393             193.6          480.5
271          22.0                 9             197.3          461.0
272         249.0                88             224.4          651.3
273          67.0                24             159.2          441.3
274         489.0               229             218.1          473.2
275          51.0                21             193.1          463.1
276         948.0               406             200.2          475.4
277         576.0               235             201.2          512.4
278         162.0                63             186.6          511.5
279         181.0                64             176.1          537.9
280         406.0               169             199.3          472.0
281        1825.0               688             168.1          435.6
282         157.0                58             210.5          596.9
283         135.0                23             162.1         1014.2
284         117.0                59             192.8          401.9
822          81.0                37             209.6          464.8
897        3144.0              1419             226.0          497.2
1056        215.0                80             158.4          417.3
2069       1526.0               667             214.3          485.1
2318        911.0               343             147.6          402.7
2319       4646.0              1562             135.0          425.2
2320        326.0               130             149.4          392.2
2321        734.0               247             139.9          418.3
2719          8.0                 3             203.3          201.3
2720       1085.0               352             167.5          453.3
2721         37.0                20             218.8          338.2
2723         16.0                 7             216.6          409.2
2724        307.0               105             177.2          424.4
2725         13.0                 4             126.3          413.3
2726        119.0                41             166.3          390.1
2727        266.0                96             168.1          441.4
2728         63.0                25             205.0          477.3
2729         43.0                15             181.9          416.6
2730        357.0               127             184.3          469.3
2731         34.0                17             277.6          499.3
2732         26.0                12             256.9          501.1
2734         20.0                 9             199.3          373.5
2735         28.0                13             150.1          298.1
2736         27.0                11             184.3          372.9
2737         36.0                13             191.4          417.3
2738         27.0                11             206.6          475.1
2880        742.0               291             191.3          519.9

      medincome  popest2015  povertypercent  studypercap           binnedinc  \
166       38974      214295            27.9   111.995147  (37413.8, 40362.7]
254       86419      153511             9.6    58.627720   (61494.5, 125635]
255       34099       17141            21.8   408.377574    [22640, 34218.1]
256       38331        6618            17.2     0.000000  (37413.8, 40362.7]
257       45890       46597            25.9   364.830354    (45201, 48021.6]
258       66625      235429             9.8    46.723216   (61494.5, 125635]
259       52355       17820            11.5     0.000000  (51046.4, 54545.6]
260       33646       42082            23.6   356.446937    [22640, 34218.1]
261      125635       13892             3.2     0.000000   (61494.5, 125635]
262       38583        8490            22.5     0.000000  (37413.8, 40362.7]
263       51195       28118            16.8  1280.318657  (51046.4, 54545.6]
264       47615      136454            15.2   168.554971    (45201, 48021.6]
265       38541       52538            28.3    57.101527  (37413.8, 40362.7]
266       40122       22378            19.5     0.000000  (37413.8, 40362.7]
267       40065       79812            25.0   388.412770  (37413.8, 40362.7]
268       72510       41764             9.8     0.000000   (61494.5, 125635]
269       48440      182385            16.7   159.004304  (48021.6, 51046.4]
270       42567      246393            23.4   523.553835  (40362.7, 42724.4]
271       31620        3939            21.6  3046.458492    [22640, 34218.1]
272       32749       32477            25.8     0.000000    [22640, 34218.1]
273       84213       12059             5.9     0.000000   (61494.5, 125635]
274       43045       96201            18.3   187.108242    (42724.4, 45201]
275       34267       17403            32.4     0.000000  (34218.1, 37413.8]
276       42074      220289            25.0   122.566265  (40362.7, 42724.4]
277       40735       99897            20.4   430.443357  (40362.7, 42724.4]
278       54195       25432            10.2   432.525952  (51046.4, 54545.6]
279       42552       24416            16.5     0.000000  (40362.7, 42724.4]
280       60735       88161            13.6    11.342884  (54545.6, 61494.5]
281       67676      452745             8.6    88.349954   (61494.5, 125635]
282       44843       21491            14.6     0.000000    (42724.4, 45201]
283       46954       15052            20.1     0.000000    (45201, 48021.6]
284       44537       27284            13.4  1026.242486    (42724.4, 45201]
822       44139       14974            18.0     0.000000    (42724.4, 45201]
897       41895      621849            23.3   886.067196  (40362.7, 42724.4]
1056      85885       65065             4.0    46.107738   (61494.5, 125635]
2069      35681      315685            28.8  2369.450560  (34218.1, 37413.8]
2318      51887      196428            18.1     0.000000  (51046.4, 54545.6]
2319      73985      998714             9.8   708.911660   (61494.5, 125635]
2320      58883       71735            12.3   655.189238  (54545.6, 61494.5]
2321      64916      164637            13.1   103.257469   (61494.5, 125635]
2719      68387        5702             9.9     0.000000   (61494.5, 125635]
2720      75200      298695            10.0   565.794540   (61494.5, 125635]
2721      45808       17946            23.8     0.000000    (45201, 48021.6]
2723      51082        4997            17.5     0.000000  (51046.4, 54545.6]
2724      67801       99631             9.5   270.999990   (61494.5, 125635]
2725      67260        2534             9.8     0.000000   (61494.5, 125635]
2726      80835       32756             7.9     0.000000   (61494.5, 125635]
2727      62532       58059            11.5     0.000000   (61494.5, 125635]
2728      57776       13709            12.4     0.000000  (54545.6, 61494.5]
2729      67972       13889             8.3     0.000000   (61494.5, 125635]
2730      73981      101095            10.7     0.000000   (61494.5, 125635]
2731      47160        9846            26.1     0.000000    (45201, 48021.6]
2732      75682        9687            11.5   103.231134   (61494.5, 125635]
2734      65192        7752            23.2     0.000000   (61494.5, 125635]
2735      65765        8863             8.6     0.000000   (61494.5, 125635]
2736      59641        6839            13.8     0.000000  (54545.6, 61494.5]
2737      73998        9362             9.9     0.000000   (61494.5, 125635]
2738      36708        5533            25.7     0.000000  (34218.1, 37413.8]
2880      51205      111333            13.6  2065.874449  (51046.4, 54545.6]

      medianage  ...  pctotherrace  pctmarriedhouseholds  birthrate  \
166        32.4  ...      4.908793             48.156818   5.880466
254        36.0  ...      3.159763             36.216152   6.214828
255        41.8  ...      1.289660             40.541591   3.868375
256        33.8  ...      0.000000             45.926197  11.887694
257        29.8  ...      0.310531             30.492339   2.753791
258        36.5  ...      1.329136             54.731470   5.746827
259        40.0  ...      1.741365             42.696313   3.664122
260        41.8  ...      1.703180             33.347702   3.236584
261        37.7  ...      3.554253             53.271390   3.066181
262        38.0  ...      0.744945             30.842745   4.927099
263        29.4  ...      3.668553             34.216270   4.269052
264        35.4  ...      1.149685             39.695882   4.729382
265        23.5  ...      1.181210             34.669998   2.564793
266        36.9  ...      4.241663             30.507696   5.969290
267        28.7  ...      0.749763             37.783932   5.960878
268        33.3  ...      4.440027             56.913054   6.934168
269        32.8  ...      1.579502             38.428909   5.236699
270        30.0  ...      2.179652             34.307542   6.373341
271        39.3  ...      1.472423             32.641615   3.938224
272        39.5  ...      1.273231             27.009295   4.372409
273        43.8  ...      0.389169             62.602327   4.361371
274        34.9  ...      1.274250             35.938733   5.954956
275        22.3  ...      0.732837             31.130181   1.039130
276        32.9  ...      1.136922             23.885628   4.888983
277        38.0  ...      1.500972             33.559033   6.673086
278        40.5  ...      0.596066             46.251867   4.609250
279        42.3  ...      0.632414             40.521806   3.909799
280        38.3  ...      0.548826             52.220071   5.719706
281        35.0  ...      1.417163             50.409042   5.841796
282        38.5  ...      2.245863             40.803898   7.446378
283        24.6  ...      0.460892             36.337594   2.181467
284        37.0  ...      2.723793             38.678356   6.642836
822        38.6  ...      0.154373             53.684021   5.144490
897        34.6  ...      1.670324             24.024634   5.449538
1056       37.5  ...      2.136773             57.201139   5.099793
2069       34.6  ...      0.820827             24.429078   4.685605
2318       41.1  ...      2.082702             47.978416   6.030934
2319       36.9  ...      0.915383             52.713161   6.457474
2320       41.6  ...      0.665796             54.706539   4.798814
2321       40.0  ...      0.870927             50.799618   6.347296
2719       36.8  ...      5.295567             42.882250   4.391052
2720       32.5  ...      1.747201             48.361303   5.994294
2721       26.7  ...      0.343159             45.521390   9.156280
2723       29.7  ...      0.482025             46.478873  11.801242
2724       30.4  ...      0.891630             50.354112   7.382578
2725       45.5  ...      0.507812             47.789116   5.374280
2726       37.0  ...      1.186561             49.380882   5.601633
2727       40.5  ...      0.559235             51.021643   5.680094
2728       38.7  ...      0.656982             46.667932   4.936668
2729       32.4  ...      2.798254             55.429321   6.768559
2730       34.6  ...      0.712221             57.492443   4.854021
2731       27.8  ...      0.142074             38.324786  11.350381
2732       33.9  ...      1.851660             38.073394  10.633353
2734       26.1  ...      0.581997             44.929059  12.392918
2735       38.9  ...      1.028738             48.041475   3.141875
2736       35.8  ...      1.209276             56.447803   7.237300
2737       36.6  ...      1.195799             52.059801   5.470675
2738       35.0  ...      0.212615             36.377397   6.744604
2880       41.6  ...      1.118326             49.737806   4.843426

                               county       state  state_short  \
166                          DoÃ±a Ana  New Mexico           NM
254                   Alexandria city    Virginia           VA
255                      Bristol city    Virginia           VA
256                  Buena Vista city    Virginia           VA
257              Charlottesville city    Virginia           VA
258                   Chesapeake city    Virginia           VA
259             Colonial Heights city    Virginia           VA
260                     Danville city    Virginia           VA
261                 Falls Church city    Virginia           VA
262                     Franklin city    Virginia           VA
263               Fredericksburg city    Virginia           VA
264                      Hampton city    Virginia           VA
265                 Harrisonburg city    Virginia           VA
266                     Hopewell city    Virginia           VA
267                    Lynchburg city    Virginia           VA
268                     Manassas city    Virginia           VA
269                 Newport News city    Virginia           VA
270                      Norfolk city    Virginia           VA
271                       Norton city    Virginia           VA
272                   Petersburg city    Virginia           VA
273                     Poquoson city    Virginia           VA
274                   Portsmouth city    Virginia           VA
275                      Radford city    Virginia           VA
276                     Richmond city    Virginia           VA
277                      Roanoke city    Virginia           VA
278                        Salem city    Virginia           VA
279                     Staunton city    Virginia           VA
280                      Suffolk city    Virginia           VA
281               Virginia Beach city    Virginia           VA
282                   Waynesboro city    Virginia           VA
283                 Williamsburg city    Virginia           VA
284                   Winchester city    Virginia           VA
822                           LaSalle   Louisiana           LA
897                    Baltimore city    Maryland           MD
1056                       Broomfield    Colorado           CO
2069                   St. Louis city    Missouri           MO
2318                           Hawaii      Hawaii           HI
2319                         Honolulu      Hawaii           HI
2320                            Kauai      Hawaii           HI
2321                             Maui      Hawaii           HI
2719       Aleutians West Census Area      Alaska           AK
2720           Anchorage Municipality      Alaska           AK
2721               Bethel Census Area      Alaska           AK
2723           Dillingham Census Area      Alaska           AK
2724     Fairbanks North Star Borough      Alaska           AK
2725                   Haines Borough      Alaska           AK
2726          Juneau City and Borough      Alaska           AK
2727          Kenai Peninsula Borough      Alaska           AK
2728        Ketchikan Gateway Borough      Alaska           AK
2729            Kodiak Island Borough      Alaska           AK
2730        Matanuska-Susitna Borough      Alaska           AK
2731                 Nome Census Area      Alaska           AK
2732              North Slope Borough      Alaska           AK
2734         Northwest Arctic Borough      Alaska           AK
2735           Sitka City and Borough      Alaska           AK
2736  Southeast Fairbanks Census Area      Alaska           AK
2737       Valdez-Cordova Census Area      Alaska           AK
2738        Yukon-Koyukuk Census Area      Alaska           AK
2880                          LaSalle    Illinois           IL

                            county_state  industry_share_manufacturing  \
166                          DoÃ±a Ana_NM                      0.035677
254                   Alexandria city_VA                      0.000000
255                      Bristol city_VA                      0.142449
256                  Buena Vista city_VA                      0.142449
257              Charlottesville city_VA                      0.142449
258                   Chesapeake city_VA                      0.059441
259             Colonial Heights city_VA                      0.142449
260                     Danville city_VA                      0.142449
261                 Falls Church city_VA                      0.142449
262                     Franklin city_VA                      0.142449
263               Fredericksburg city_VA                      0.142449
264                      Hampton city_VA                      0.049930
265                 Harrisonburg city_VA                      0.142449
266                     Hopewell city_VA                      0.142449
267                    Lynchburg city_VA                      0.142449
268                     Manassas city_VA                      0.142449
269                 Newport News city_VA                      0.299573
270                      Norfolk city_VA                      0.036559
271                       Norton city_VA                      0.142449
272                   Petersburg city_VA                      0.142449
273                     Poquoson city_VA                      0.142449
274                   Portsmouth city_VA                      0.000000
275                      Radford city_VA                      0.142449
276                     Richmond city_VA                      0.089145
277                      Roanoke city_VA                      0.000000
278                        Salem city_VA                      0.142449
279                     Staunton city_VA                      0.142449
280                      Suffolk city_VA                      0.378381
281               Virginia Beach city_VA                      0.040351
282                   Waynesboro city_VA                      0.142449
283                 Williamsburg city_VA                      0.142449
284                   Winchester city_VA                      0.142449
822                           LaSalle_LA                      0.063162
897                    Baltimore city_MD                      0.046095
1056                       Broomfield_CO                      0.272525
2069                   St. Louis city_MO                      0.152833
2318                           Hawaii_HI                      0.000000
2319                         Honolulu_HI                      0.025372
2320                            Kauai_HI                      0.000000
2321                             Maui_HI                      0.008457
2719       Aleutians West Census Area_AK                      0.419544
2720           Anchorage Municipality_AK                      0.010041
2721               Bethel Census Area_AK                      0.000000
2723           Dillingham Census Area_AK                      0.234877
2724     Fairbanks North Star Borough_AK                      0.037174

### Fill missing values for UV with mean share of respective state

In [924]:
data_main['UV'] = data_main['UV'].fillna(data_main.groupby('state')['UV'].transform('mean'))
data_main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3053 entries, 0 to 3052
Data columns (total 41 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   avganncount                   3053 non-null   float64
 1   avgdeathsperyear              3053 non-null   int64
 2   target_deathrate              3053 non-null   float64
 3   incidencerate                 3053 non-null   float64
 4   medincome                     3053 non-null   int64
 5   popest2015                    3053 non-null   int64
 6   povertypercent                3053 non-null   float64
 7   studypercap                   3053 non-null   float64
 8   binnedinc                     3053 non-null   object
 9   medianage                     3053 non-null   float64
 10  medianagemale                 3053 non-null   float64
 11  medianagefemale               3053 non-null   float64
 12  geography                     3053 non-null   object
 13  avghouseholdsize              3053 non-null   float64
 14  percentmarried                3053 non-null   float64
 15  pctnohs18_24                  3053 non-null   float64
 16  pcths18_24                    3053 non-null   float64
 17  pctsomecol18_24               763 non-null    float64
 18  pctbachdeg18_24               3053 non-null   float64
 19  pcths25_over                  3053 non-null   float64
 20  pctbachdeg25_over             3053 non-null   float64
 21  pctemployed16_over            2901 non-null   float64
 22  pctunemployed16_over          3053 non-null   float64
 23  pctprivatecoverage            3053 non-null   float64
 24  pctprivatecoveragealone       2442 non-null   float64
 25  pctempprivcoverage            3053 non-null   float64
 26  pctpubliccoverage             3053 non-null   float64
 27  pctpubliccoveragealone        3053 non-null   float64
 28  pctwhite                      3053 non-null   float64
 29  pctblack                      3053 non-null   float64
 30  pctasian                      3053 non-null   float64
 31  pctotherrace                  3053 non-null   float64
 32  pctmarriedhouseholds          3053 non-null   float64
 33  birthrate                     3053 non-null   float64
 34  county                        3053 non-null   object
 35  state                         3053 non-null   object
 36  state_short                   3053 non-null   object
 37  county_state                  3053 non-null   object
 38  industry_share_manufacturing  3053 non-null   float64
 39  industry_share_mineoilgas     3053 non-null   float64
 40  UV                            3031 non-null   float64
dtypes: float64(32), int64(3), object(6)
memory usage: 1001.8+ KB

In [925]:
data_main[(data_main['UV'].isna() == True)].head()

,avganncount,avgdeathsperyear,target_deathrate,incidencerate,medincome,popest2015,povertypercent,studypercap,binnedinc,medianage,...,pctotherrace,pctmarriedhouseholds,birthrate,county,state,state_short,county_state,industry_share_manufacturing,industry_share_mineoilgas,UV
2318,911.0,343,147.6,402.7,51887,196428,18.1,0.000000,"(51046.4, 54545.6]",41.1,...,2.082702,47.978416,6.030934,Hawaii,Hawaii,HI,Hawaii_HI,0.000000,0.000049,NaN
2319,4646.0,1562,135.0,425.2,73985,998714,9.8,708.911660,"(61494.5, 125635]",36.9,...,0.915383,52.713161,6.457474,Honolulu,Hawaii,HI,Honolulu_HI,0.025372,0.001251,NaN
2320,326.0,130,149.4,392.2,58883,71735,12.3,655.189238,"(54545.6, 61494.5]",41.6,...,0.665796,54.706539,4.798814,Kauai,Hawaii,HI,Kauai_HI,0.000000,0.001090,NaN
2321,734.0,247,139.9,418.3,64916,164637,13.1,103.257469,"(61494.5, 125635]",40.0,...,0.870927,50.799618,6.347296,Maui,Hawaii,HI,Maui_HI,0.008457,0.000797,NaN
2719,8.0,3,203.3,201.3,68387,5702,9.9,0.000000,"(61494.5, 125635]",36.8,...,5.295567,42.882250,4.391052,Aleutians West Census Area,Alaska,AK,Aleutians West Census Area_AK,0.419544,0.023742,NaN

It seems like Alaska and Hawaii are missing in the UV table. I'll later decide if I kick both states from the dataset or kick the UV numbers instead.

### Join data_main with data_county_class

In [926]:
data_main = pd.merge(data_main, data_county_class, how='left', on='county_state')
data_main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3053 entries, 0 to 3052
Data columns (total 43 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   avganncount                   3053 non-null   float64
 1   avgdeathsperyear              3053 non-null   int64
 2   target_deathrate              3053 non-null   float64
 3   incidencerate                 3053 non-null   float64
 4   medincome                     3053 non-null   int64
 5   popest2015                    3053 non-null   int64
 6   povertypercent                3053 non-null   float64
 7   studypercap                   3053 non-null   float64
 8   binnedinc                     3053 non-null   object
 9   medianage                     3053 non-null   float64
 10  medianagemale                 3053 non-null   float64
 11  medianagefemale               3053 non-null   float64
 12  geography                     3053 non-null   object
 13  avghouseholdsize              3053 non-null   float64
 14  percentmarried                3053 non-null   float64
 15  pctnohs18_24                  3053 non-null   float64
 16  pcths18_24                    3053 non-null   float64
 17  pctsomecol18_24               763 non-null    float64
 18  pctbachdeg18_24               3053 non-null   float64
 19  pcths25_over                  3053 non-null   float64
 20  pctbachdeg25_over             3053 non-null   float64
 21  pctemployed16_over            2901 non-null   float64
 22  pctunemployed16_over          3053 non-null   float64
 23  pctprivatecoverage            3053 non-null   float64
 24  pctprivatecoveragealone       2442 non-null   float64
 25  pctempprivcoverage            3053 non-null   float64
 26  pctpubliccoverage             3053 non-null   float64
 27  pctpubliccoveragealone        3053 non-null   float64
 28  pctwhite                      3053 non-null   float64
 29  pctblack                      3053 non-null   float64
 30  pctasian                      3053 non-null   float64
 31  pctotherrace                  3053 non-null   float64
 32  pctmarriedhouseholds          3053 non-null   float64
 33  birthrate                     3053 non-null   float64
 34  county                        3053 non-null   object
 35  state                         3053 non-null   object
 36  state_short                   3053 non-null   object
 37  county_state                  3053 non-null   object
 38  industry_share_manufacturing  3053 non-null   float64
 39  industry_share_mineoilgas     3053 non-null   float64
 40  UV                            3031 non-null   float64
 41  poppct_urban                  3006 non-null   float64
 42  poppct_rural                  3006 non-null   float64
dtypes: float64(34), int64(3), object(6)
memory usage: 1.0+ MB

In [927]:
df_nan = data_main[(data_main['poppct_urban'].isna() == True)]
df_nan = df_nan[['county', 'county_state']]
df_nan

                               county                        county_state
254                   Alexandria city                  Alexandria city_VA
255                      Bristol city                     Bristol city_VA
256                  Buena Vista city                 Buena Vista city_VA
257              Charlottesville city             Charlottesville city_VA
258                   Chesapeake city                  Chesapeake city_VA
259             Colonial Heights city            Colonial Heights city_VA
260                     Danville city                    Danville city_VA
261                 Falls Church city                Falls Church city_VA
263               Fredericksburg city              Fredericksburg city_VA
264                      Hampton city                     Hampton city_VA
265                 Harrisonburg city                Harrisonburg city_VA
266                     Hopewell city                    Hopewell city_VA
267                    Lynchburg city                   Lynchburg city_VA
268                     Manassas city                    Manassas city_VA
269                 Newport News city                Newport News city_VA
270                      Norfolk city                     Norfolk city_VA
271                       Norton city                      Norton city_VA
272                   Petersburg city                  Petersburg city_VA
273                     Poquoson city                    Poquoson city_VA
274                   Portsmouth city                  Portsmouth city_VA
275                      Radford city                     Radford city_VA
278                        Salem city                       Salem city_VA
279                     Staunton city                    Staunton city_VA
280                      Suffolk city                     Suffolk city_VA
281               Virginia Beach city              Virginia Beach city_VA
282                   Waynesboro city                  Waynesboro city_VA
283                 Williamsburg city                Williamsburg city_VA
284                   Winchester city                  Winchester city_VA
822                           LaSalle                          LaSalle_LA
2719       Aleutians West Census Area       Aleutians West Census Area_AK
2720           Anchorage Municipality           Anchorage Municipality_AK
2721               Bethel Census Area               Bethel Census Area_AK
2723           Dillingham Census Area           Dillingham Census Area_AK
2724     Fairbanks North Star Borough     Fairbanks North Star Borough_AK
2725                   Haines Borough                   Haines Borough_AK
2726          Juneau City and Borough          Juneau City and Borough_AK
2727          Kenai Peninsula Borough          Kenai Peninsula Borough_AK
2728        Ketchikan Gateway Borough        Ketchikan Gateway Borough_AK
2729            Kodiak Island Borough            Kodiak Island Borough_AK
2730        Matanuska-Susitna Borough        Matanuska-Susitna Borough_AK
2731                 Nome Census Area                 Nome Census Area_AK
2732              North Slope Borough              North Slope Borough_AK
2734         Northwest Arctic Borough         Northwest Arctic Borough_AK
2735           Sitka City and Borough           Sitka City and Borough_AK
2736  Southeast Fairbanks Census Area  Southeast Fairbanks Census Area_AK
2737       Valdez-Cordova Census Area       Valdez-Cordova Census Area_AK
2738        Yukon-Koyukuk Census Area        Yukon-Koyukuk Census Area_AK

The county_class databases misses a lot of cities. The naming is different here compared to data_main.

### Use thefuzz to find some more matches

In [931]:
from thefuzz import fuzz
from thefuzz import process

C:\Users\flanc\.conda\envs\iron\lib\site-packages\thefuzz\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [947]:
# Let the fuzz analyze the two columns and find matches in the reference list
data_county_class['name_from_df_nan'] = data_county_class['county_state'].apply(lambda x: process.extractOne(x, df_nan['county_state'].to_list(), scorer=fuzz.token_sort_ratio, score_cutoff=70))

In [950]:
# Here are the matches
data_county_class[data_county_class.name_from_df_nan.isna() == False]

,county_state,poppct_urban,poppct_rural,name_from_df_nan
74,Fairbanks North Star_AK,69.13,30.87,"(Fairbanks North Star Borough_AK, 74)"
79,Ketchikan Gateway_AK,76.81,23.19,"(Ketchikan Gateway Borough_AK, 71)"
82,Matanuska-Susitna_AK,49.71,50.29,"(Matanuska-Susitna Borough_AK, 71)"
85,Northwest Arctic_AK,42.54,57.46,"(Northwest Arctic Borough_AK, 83)"
644,LaSalle_IL,69.79,30.21,"(LaSalle_LA, 90)"
1114,Allen_LA,30.58,69.42,"(LaSalle_LA, 78)"
1142,La Salle_LA,26.81,73.19,"(LaSalle_LA, 95)"
1219,Bristol_MA,90.17,9.83,"(Bristol city_VA, 72)"
2664,La Salle_TX,53.65,46.35,"(LaSalle_LA, 76)"
2838,Charles City_VA,0.00,100.00,"(Charlottesville city_VA, 79)"
2866,James City_VA,84.15,15.85,"(Salem city_VA, 77)"
2915,Alexandria_VA,100.00,0.00,"(Alexandria city_VA, 84)"
2917,Bristol_VA,99.96,0.04,"(Bristol city_VA, 80)"
2919,Charlottesville_VA,100.00,0.00,"(Charlottesville city_VA, 88)"
2920,Chesapeake_VA,92.37,7.63,"(Chesapeake city_VA, 84)"
2921,Colonial Heights_VA,100.00,0.00,"(Colonial Heights city_VA, 74)"
2926,Falls Church_VA,100.00,0.00,"(Falls Church city_VA, 86)"
2928,Fredericksburg_VA,98.83,1.17,"(Fredericksburg city_VA, 72)"
2945,Richmond city_VA,100.00,0.00,"(Hampton city_VA, 77)"
2946,Roanoke city_VA,99.99,0.01,"(Norfolk city_VA, 73)"
2950,Virginia Beach_VA,98.47,1.53,"(Virginia Beach city_VA, 87)"

In [958]:
# Saving the matches to the list
match_list = data_county_class[data_county_class.name_from_df_nan.isna() == False].index.to_list()
# Exclude false matches
exclude = [644,1114,2664,2838,2866,2945,2946]
match_list = [i for j, i in enumerate(match_list) if j not in exclude]
match_list

[74,
 79,
 82,
 85,
 644,
 1114,
 1142,
 1219,
 2664,
 2838,
 2866,
 2915,
 2917,
 2919,
 2920,
 2921,
 2926,
 2928,
 2945,
 2946,
 2950]